/* Maintain existing styles for home-page */
.home-page {
    background-image: url(foxy.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(120, 120, 120);
    opacity: 0.95;
}

/* About Page */
.about-page {
    background-color: #858585; /* Light mode */
    background-image: url("about-bg.jpg");
    background-size: cover;
    background-position: center;
}

/* Decrypt Page */
.decrypt-page {
    background-color: #2e2e2e;
    background-image: url("decrypt-bg.jpg");
    background-size: cover;
    background-position: center;
}

/* Cryptology Page */
.cryptology-page {
    background-color: #1a1a1a; /* Dark mode */
    background-image: url("cryptology-bg.jpg");
    background-size: cover;
    background-position: center;
}

/* Centered image styling */
.center-image {
    width: 150px;
    height: auto;
    z-index: -1;
    position: relative;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    /*background-image: url(foxy.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(120, 120, 120);
    opacity: 0.95;*/
}

/* Header styles */
h1 {
    color: rgb(225, 225, 225);
    font-size: 30px;
}

h2 {
    color: rgb(225, 225, 225);
    font-size: 20px;
}

/* Textarea styling */
textarea {
    width: 80%;
    height: 100px;
    margin: 10px;
    font-size: large;
    color: rgb(225, 225, 225);
    background-color: rgb(81, 81, 81);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
}

/* Button styling */
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(225, 225, 225);
    background-color: rgb(81, 81, 81);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(100, 100, 100);
}

/* Keyboard buttons within the panel */
#keyboardPanel button {
    font-size: 16px;
    color: rgb(225, 225, 225);
    padding: 10px;
    background-color: rgb(81, 81, 81);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
    cursor: pointer;
}

#keyboardPanel button:hover {
    background-color: rgb(100, 100, 100);
}

#keyboardPanel {
    margin: 20px auto;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

/* Alternative translation textarea differentiation */
textarea#alternativeOutputText {
    background-color: rgb(81, 81, 81);
    border: 1px solid rgb(120, 120, 120);
}

/* Footer styling */
footer {
    margin-top: 20px;
    color: rgb(225, 225, 225);
    font-size: 14px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #fcad79;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute; /* Change from relative to absolute */
    top: 0; /* Aligns to the top of the page */
    right: 0; /* Aligns to the right of the page */
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcad79;
    min-width: 80px;
    z-index: 1;
    right: 0; /* Aligns the right edge */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(225, 225, 225);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(81, 81, 81);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(81, 81, 81);}
