/* Centered image styling */
.center-image {
    width: 150px;
    height: auto;
    z-index: -1;
    position: relative;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: url(foxy.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(120, 120, 120);
    opacity: 0.95;
}

/* Header styles */
h1 {
    color: rgb(225, 225, 225);
    font-size: 30px;
}

h2 {
    color: rgb(225, 225, 225);
    font-size: 20px;
}

/* Textarea styling */
textarea {
    width: 80%;
    height: 100px;
    margin: 10px;
    font-size: large;
    color: rgb(225, 225, 225);
    background-color: rgb(81, 81, 81);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
}

/* Button styling */
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(225, 225, 225);
    background-color: rgb(81, 81, 81);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(100, 100, 100);
}

/* Keyboard buttons within the panel */
#keyboardPanel button {
    font-size: 16px;
    color: rgb(225, 225, 225);
    padding: 10px;
    background-color: rgb(81, 81, 81);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
    cursor: pointer;
}

#keyboardPanel button:hover {
    background-color: rgb(100, 100, 100);
}

#keyboardPanel {
    margin: 20px auto;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

/* Alternative translation textarea differentiation */
textarea#alternativeOutputText {
    background-color: rgb(81, 81, 81);
    border: 1px solid rgb(120, 120, 120);
}

/* Footer styling */
footer {
    margin-top: 20px;
    color: rgb(225, 225, 225);
    font-size: 14px;
}
